html {
  background-image: url(../img/Golden_sunrise.jpg);
  background-repeat: no-repeat;
  background-color: black;
}

body{

        height: 100%;
        margin: auto;
        padding: 0px;
        width: 80%;
        /*background-color: black;*/
        color: white;
        clear: both;
      }

h1 {
  font-family: 'Great Vibes', cursive; font-size: 96px;
  padding-bottom: 30px;
  margin-bottom: 0px;
}

h2 {
  float: left;
}

h3 {
  float: right;
}

img {padding-bottom: 20px;}

a {
  color: gray;
}

p {
  margin: auto;
  width: 90%;
  padding-top: 10px;
}

form {
  color: black;
}

/* Quotes */

.help-phone {
  color: white;
}

#delete {
  padding-top: 30px;
}

#quotes {
  width: 400px;
  float: right;
  color: white;
}

#quotes > p {
  font-family: 'Poiret One', cursive; font-size: 24px;
  font-weight: bold;
  padding-bottom: 50px;
}

/* recipe */

.help-recipe {
  color: white;
}

#recipe-wrapper {
  background-color: black;
  border-left: solid 2px white;
  border-bottom: solid 2px white;
  border-right: solid 2px white;
  padding: 30px 40px 450px 40px;
  background-image: url(../img/vegetable-trio-salad.png);
  max-width: 1220px;
  // background-position: center;
}

/* Switch */

.onoffswitch {
    clear: both;
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

