be rake<!DOCTYPE html>
<html>
<head>
  <title>Orange Trees</title>
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/application.css">

  <script src="javascripts/vendor/jquery-2.1.1.min.js"></script>
  <script src="javascripts/src/typed-objects.js"></script>
  <!-- feel free to replace typed-objects with the plain-old-js-objects,
  depending on how you implement your view.js -->
  <script src="javascripts/src/view.js"></script>

</head>
<body>
<h1>Test</h1>

<h1><%=@quotes%></h1>

<ul>

		<li><%= @quotes.quote %></li>

</ul>
</body>