<h1>Inspirations</h1>

<div class="signup">
  <form action="/signup" method="post" id="number">
  	<p>Phone number: <input type="text" name="phone"></p>
  	<p><input type="submit" /> </p>

  </form>
</div>


<ul>

	<% @quotes.each do |quote| %>


  <li><%= quote.quote %></li>

	<% end %>
</ul>