
<div id="quotes">
	
	<p><%=@quote1.quote%></p>

	<p><%=@quote2.quote%></p>


	<!-- <p>I paid my dues when I had to wear a kilt in Chicago, and friends would say, “What’s your boy got on?” but there are warriors that have killed people in kilts in the past. - Kanye West</p>

	<p>I'm different. I have a different constitution, I have a different brain, I have a different heart. I got tiger blood, man. Dying's for fools, dying's for amateurs. - Charlie Sheen</p> -->

</div>

<h1>Inspirations</h1>

<div id="signup">
  <form action="/signup" method="post" id="number">
  	<p><input type="text" name="phone" id="phoneUS"></p>
	<p><span id="phone-format" class="help-phone">Insert your phone number for</span>
	<br /><span id="phone-format" class="help-phone">daily quote goodness</span>
	<p><span id="phone-format" class="help-phone">US &amp; Canada numbers only</span>
  	</p>
  	<p><input type="submit" /> </p>

  </form>
  <script>
$("#number").validate();
</script>
</div>
