<h1>Inspirations</h1>

<div class="signup">
  <form action="/signup" method="post" id="number">
  	<p><input type="text" name="phone" id="phone-login">
		<span id="phone-format" class="helpPhone">US &amp; Canada numbers only</span>
  	</p>
  	<p><input type="submit" /> </p>

  </form>
</div>
