<ul>
	<% @recipes.each do |x|%>
	<li>
		<%= x.title %>
		<ul>
			<% x.images.each do |img| %>
				<li class="img">
					<img src="<%=img%>" />
				</li>
			<% end %>
		</ul>				
		<ul>
			<% x.ingredients.each do |ingred| %>
				<li><%=ingred%></li>
			<% end %>
		</ul>
		<%=x.instructions %>
	</li>
	<% end %>
</ul>