
<div id="recipe-wrapper">


	<h1>Recipe Inspirations</h1>

	<div id="recipe-signup">
	  <form action="/recipe-signup" method="post" id="recipe">
	  	<p><input type="email" name="email" id="email"></p>
		<p><span id="recipe-format" class="help-recipe">Insert your email address</span>
		<br /><span id="recipe-format" class="help-recipe">for daily recipe goodness</span>
	  	</p>
	  	<p><input type="submit" /> </p>

	  </form>

	</div>
</div>
