<h1>Inspirations</h1>

<h2>Subscribe?</h2>

<form action="/signup" method="post" id="settings">
	<p>
	<select name="subscription" id="dropdown">
	  	<option value="true"> On </option>
	    <option value="false"> Off </option>
	</select></p>
	<p><input type="submit" /> </p>


</form>