<h1>Inspirations</h1>

<h2>Subscribed?</h2>
<h3>Logged in as <%=@number.number%></h3>
<form action="/settings" method="post" id="settings">
	<!-- <p> -->

	<div class="onoffswitch">
	    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" <%= @subscribed == true ? "checked": "" %> >
	    <label class="onoffswitch-label" for="myonoffswitch">
	        <span class="onoffswitch-inner"></span>
	        <span class="onoffswitch-switch"></span>
	    </label>
	</div>
	<!-- <select name="subscription" id="dropdown"> -->
	  	<!-- <option value="true"> On </option> -->
	    <!-- <option value="false"> Off </option> -->
	<!-- </select></p> -->
	<!-- <p><input type="submit" /> </p> -->
</form>


<form action="/delete" method="post" id="delete">
	<div class="delete">
		<input type="checkbox" name="delete" class="delete-checkbox" id="mydeletecheckbox">
		<input type="submit" value="Delete my number">
	</div>
</form>
